.header {
  font-size: xx-large;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 50px;
  width: 70vw;
  padding: 4px;
  background-color: #01254b;
}

.todo-title {
  font-size: 20px;
  font-weight: bold;
  margin: 4px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
.title-div{
  display: flex;
  gap: 8px;
}