body{
    background-color: rgb(10, 11, 25);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
    border-radius: 12px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
input{
    border-radius: 12px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    transition: all 0.3s ease-in-out;
    margin: 12px;
    
}